.env
TuringMod.njsproj
TuringMod.njsproj.*
TuringMod.sln
Microsoft.NodejsTools.WebRole.dll
/data/suggestions.txt
/data/clip_links.html
key.pem
cert.pem
/data/tags_list.json
/data/training.jsonl
/src/audio/rack.mp3
/src/audio/shotgunfiring.mp3
/src/audio/bonk.mp3
/src/audio/reeee.mp3
/src/audio/lotofdmg.mp3
/src/audio/airhorn.mp3
/src/audio/fail.mp3
/src/audio/emotionaldmg.mp3
/src/audio/notfine.mp3
/src/audio/animegod.mp3
/src/audio/AAAAAAAA.mp3
/src/audio/nogodplsno.mp3
/src/audio/tactinuke.mp3
/src/audio/bababooey.mp3
/src/audio/knockknock.mp3