.env
TuringMod.njsproj
TuringMod.njsproj.*
TuringMod.sln
Microsoft.NodejsTools.WebRole.dll
/data/suggestions.txt
/data/clip_links.html
/data/modlist.txt
key.pem
cert.pem
/data/tags_list.json
/data/training.jsonl
*.mp3
*.wav
*.png
node_modules/*
.vscode/
.vs/