body {
	background-color: #404040;
}
h1 {
	text-align: center;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 54px;
	color: #f2f2f2;
}

.linklist {
	background-color: #595959;
	display: block flex;
}

.linklist p {
	color: #f2f2f2;
}